{% extends 'base.html.twig' %}

{% block title %}Country info{% endblock %}

{% block body %}
    {{ parent() }}

    <table class="table table-bordered">
        <tr class="success">
            <th>Country</th>
            <th>Flag</th>
            <th>Current UEFA rank </th>
            <th>Debuted in Euro Championship</th>
            <th>Teem Founded</th>
        </tr>
        <tr>
            <td>{{ country.name }}</td>
            <td><img src="{{ country.flag }}"></td>
            <td>{{ country.uefaRank }}</td>
            <td>{{ country.firstMembership }}</td>
            <td>{{ country.nationalTeamFoundedAt }}</td>
        </tr>
    </table>
    <div>
        <h2>History:</h2>
        <p>{{ country.shortHistory }}</p>
    </div>

{% endblock %}