{% extends 'base.html.twig' %}

{% block title %}Country info{% endblock %}

{% block body %}
    <h1 class="bg-primary"><a href="{{ path('homepage') }}"> <img src="{{ asset('pictures/Euro2016.png') }}"></a> {{ country.name }} </h1>
    <div class="pull-left bg-info">
        <div>National flag: <img src="{{ asset(country.flag) }}"></div>
        <div>UEFA rank: {{ country.uefaRank }}</div>
    </div>


{% endblock %}