{% extends 'base.html.twig' %}

{% block title %}Country info{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="bg-info">{{ country.name }}</h1>
    <div class="fixed-width">
        <div>National flag: <img class="pull-right" src="{{ asset(country.flag) }}"></div>
        <div>UEFA rank: <span class="pull-right">{{ country.uefaRank }}</span></div>
        <div>First membership: <span class="pull-right">{{ country.firstMembership }}</span></div>
        <div>National team founded: <span class="pull-right">{{ country.nationalTeamFoundedAt }}</span></div>

    </div>
    <div>
        <h3 class="bg-primary">Short history of football in {{ country.name }}</h3>

        {{ country.shortHistory }}
    </div>


{% endblock %}