{% extends 'base.html.twig' %}

{% block title %}{{ game.firstTeam.name }} vs {{ game.secondTeam.name }}{% endblock %}

{% block body %}
    {{ parent() }}

    <table class="table table-bordered">
        <tr class="success">
            <th>Result</th>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
        </tr>
        <tr>
            <td>
                <p class="text-info">
                    {{ game.firstTeam.name }} ( <span class="bg-success"> {{ game.firstTeamScore }} - {{ game.secondTeamScore }} </span>
                    ) {{ game.secondTeam.name }}
                </p>
            </td>
            <td>
                {{ game.gameDate|date("d/m/Y") }}
            </td>
            <td>
                {{ game.gameStartsAt }}
            </td>
            <td>
                {{ game.city }}
            </td>
        </tr>
    </table>

    <div>
        <p class="bg-success">
            Details:
        </p>

        <p class="text-info">
            {{ game.description }}
        </p>
    </div>



{% endblock %}