{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1><a href="{{ path('homepage') }}"><img src="{{ asset('pictures/Euro2016.png') }}"></a> Game</h1>
    <div>
        <div>
            <p class="bg-primary">
                Game result:
            </p>

            <p class="text-info">
                {{ game.firstTeam }} ( <span class="bg-success"> {{ game.result.0 }} - {{ game.result.1 }} </span>
                ) {{ game.secondTeam }}
            </p>
        </div>

        <div>
            <p class="bg-primary">
                Game date:
            </p>

            <p class="text-info">
                {{ game.gameDate|date("m/d/Y") }}
            </p>
        </div>

        <div>
            <p class="bg-primary">
                Match starts at:
            </p>

            <p class="text-info">
                {{ game.startTime }}
            </p>
        </div>
    </div>

{% endblock %}