{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    {{ parent() }}
    <div>
        <div>
            <p class="bg-success">
                Game result:
            </p>

            <p class="text-info">
                {{ game.firstTeam.name }} ( <span class="bg-success"> {{ game.firstTeamScore }} - {{ game.secondTeamScore }} </span>
                ) {{ game.secondTeam.name }}
            </p>
        </div>

        <div>
            <p class="bg-success">
                Game date:
            </p>

            <p class="text-info">
                {{ game.gameDate|date("d/m/Y") }}
            </p>
        </div>

        <div>
            <p class="bg-success">
                Match starts at:
            </p>

            <p class="text-info">
                {{ game.gameStartsAt }}
            </p>

            <p class="bg-success">
                Details:
            </p>

            <p class="text-info">
                {{ game.description }}
            </p>
        </div>
    </div>

{% endblock %}