{% extends 'admin.html.twig' %}
{% block body %}
    {{ parent() }}
    <h2 class="bg-info">
        <a href="{{ path('new_team') }}">Create a new team</a>
    </h2>

    <table class="table table-striped table-hover">
        <tr class="success">
            <th>Team</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td>
                    {{ team.name }}
                </td>
                <td>
                    <a href="{{ path('edit_team', {'slug': team.slug}) }}">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="{{ path('remove_team', {'slug': team.slug}) }}">
                        Remove
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}