{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1 class="bg-primary"><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a>{{ team.name }}
    </h1>
    <table class="table table-bordered table-hover">
        <tr>
            <th class="bg-primary">Players list</th>
            <th class="bg-primary">Coaches list</th>
            <th class="bg-primary">Last games</th>
        </tr>
        <tr>
            <td>

                <div>
                    <p class="bg-primary">FORWARDS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Forward' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <p class="bg-primary">DEFENDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Defender' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p class="bg-primary">MIDFIELDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Midfielder' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p class="bg-primary">GOAL KEEPERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Goal keeper' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </td>
            <td>

                {% for coach in team.coaches %}
                    <div>
                        <a href="{{ path('show_coach', {'id': coach.id}) }}">
                            {{ coach.name }}
                        </a>
                    </div>

                {% endfor %}



            </td>
            <td>
                {#
                <div>
                    {% for game in team.lastGames %}
                        <div>
                            <a href="{{ path('show_game_by_id', {'id': game.id}) }}">
                                {{ game.firstTeam }} ( {{ game.result.0 }} - {{ game.result.1 }} ) {{ game.secondTeam }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                #}



            </td>
        </tr>
    </table>

{% endblock %}