{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1 class="bg-primary"><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a>{{ team.name|title|replace({'_': ' '}) }}</h1>
    <table class="table table-bordered table-hover">
        <tr>
            <th class="bg-primary">Players list</th>
            <th class="bg-primary">Coaches list</th>
            <th class="bg-primary">Last games</th>
        </tr>
        <tr>
            <td>

                    <div>
                        <p class="bg-primary">FORWARDS</p>
                        {% for player in team.players %}

                                {% if player.position == 'Forward' %}
                                    <div>
                                        <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                                    </div>
                                {% endif %}
                        {% endfor %}
                    </div>

                <div>
                    <p class="bg-primary">DEFENDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Defender' %}
                            <div>
                                <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p class="bg-primary">MIDFIELDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Midfielder' %}
                            <div>
                                <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p class="bg-primary">GOAL KEEPERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Goal keeper' %}
                            <div>
                                <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </td>
            <td class="bg-success">
                {% for coach in team.coaches %}

                <div>{{ coach }}</div>

                {% endfor %}

            </td>
            <td class="bg-warning">
                <div>
                   {{ render(controller('AppBundle:Game:lastGames', {'team': team.name}))|replace({'_': ' '})|title|nl2br }}
                </div>

            </td>
        </tr>
    </table>

{% endblock %}