{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1 class="bg-primary"><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a>{{ team.name|upper }}</h1>
    <table class="table table-bordered">
        <tr>
            <th>Players list</th>
            <th>Coaches list</th>
            <th>Last games</th>
        </tr>
        <tr>
            <td>

                    <div>
                        <p class="bg-primary">FORWARDS</p>
                        {% for player in team.players %}

                                {% if player.position == 'Forward' %}
                                    <div>
                                        <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                                    </div>
                                {% endif %}
                        {% endfor %}
                    </div>

                <div>
                    <p class="bg-primary">DEFENDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Defender' %}
                            <div>
                                <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p class="bg-primary">MIDFIELDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Midfielder' %}
                            <div>
                                <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <p class="bg-primary">GOAL KEEPERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Goal keeper' %}
                            <div>
                                <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </td>
            <td>
                <div><a href="#">Coach1</a></div>
                <div><a href="#">Coach1</a></div>
                <div><a href="#">Coach1</a></div>
                <div><a href="#">Coach1</a></div>
            </td>
            <td>
                <div>Team1 (1 - 0) Team2</div>
                <div>Team1 (2 - 3) Team2</div>
                <div>Team1 (3 - 1) Team2</div>
                <div>Team1 (1 - 1) Team2</div>
            </td>
        </tr>
    </table>

{% endblock %}