{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="text-danger"><img src="{{ asset('pictures/Euro2016.png') }}">{{ team.name }} <img src="{{ team.country.flag }}"></h1>
    <table class="table table-hover">
        <tr>
            <th class="bg-success text-primary">Players</th>
            <th class="bg-success text-primary">Coaches</th>
            <th class="bg-success text-primary">Games</th>
        </tr>
        <tr>
            <td>

                <div>
                    <p class="text-danger">FORWARDS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Forward' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}"> <span class="text-success bg-success">{{ player.name }} </span>({{ player.squadNumber }})</a>
                            </div>
                        {% endif %}
                    {% endfor %}<br>
                </div>

                <div>
                    <p class="text-danger">DEFENDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Defender' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}"><span class="text-success bg-success">{{ player.name }} </span>({{ player.squadNumber }})</a>
                            </div>
                        {% endif %}
                    {% endfor %}<br>
                </div>
                <div>
                    <p class="text-danger">MIDFIELDERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Midfielder' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}"><span class="text-success bg-success">{{ player.name }} </span>({{ player.squadNumber }})</a>
                            </div>
                        {% endif %}
                    {% endfor %}<br>
                </div>
                <div>
                    <p class="text-danger">GOAL KEEPERS</p>
                    {% for player in team.players %}

                        {% if player.position == 'Goal keeper' %}
                            <div>
                                <a href="{{ path('show_player', {'id': player.id }) }}"><span class="text-success bg-success">{{ player.name }} </span>({{ player.squadNumber }})</a>
                            </div>
                        {% endif %}
                    {% endfor %}<br>
                </div>

            </td>
            <td>

                {% for coach in team.coaches %}
                    <div>
                        <a href="{{ path('show_coach', {'id': coach.id}) }}">
                            <span class="text-success bg-success">{{ coach.name }}</span>
                        </a><br><br>
                    </div>

                {% endfor %}



            </td>
            <td>

                <div>
                    {% for game in games %}
                        <div>
                            <a href="{{ path('show_game_by_id', {'id': game.id}) }}">
                                <span class="text-success bg-success">{{ game.firstTeam.name }}</span> ( {{ game.firstTeamScore }} vs. {{ game.secondTeamScore }} ) <span class="text-success bg-success">{{ game.secondTeam.name }}</span> (<span class="text-danger">{{ game.gameDate|date('d-m-Y') }}</span>)
                            </a><br><br>

                        </div>
                    {% endfor %}
                </div>




            </td>
        </tr>
    </table>
<h3 class="text-danger">Football in {{ team.country.name }}:</h3>
    <p class="text-success">
        {{ team.country.shortHistory }}
    </p>
{% endblock %}