{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="clearfix bg-info">
        <h1>All Groups </h1>

    </div>


    <table class="table table-hover table-condensed">
        {% for group in groups %}
            <tr class="bg-success">

                <td class="text-danger">
                    <a href="{{ path('show_group', {'name': group.name}) }}">
                        <span class="text-danger bg-danger">
                            Group {{ group.name }}
                        </span>
                    </a>
                </td>
                <td class="text-danger text-center">Games schedule</td>
            </tr>
            <tr>
                <td>
                    {% for team in group.teams %}
                        <p>
                            <a href="{{ path('show_country', {'slug': team.country.slug}) }}">
                                <img class="img-circle" src="{{ team.country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': team.slug}) }}">
                                <span class="text-success">{{ team.name }}</span>
                            </a>
                        </p>
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% for game in group.games %}
                        <a href="{{ path('show_game_by_id', {'id': game.id}) }}"><span
                                    class="text-success">{{ game.firstTeam.name }}</span> vs <span
                                    class="text-success">{{ game.secondTeam.name }} </span> <span
                                    class="text-success bg-success">{{ game.gameDate|date('d-m-Y') }}</span> at <span
                                    class="text-primary">{{ game.gameStartsAt }}</span> in <span
                                    class="text-warning bg-warning">{{ game.city }}</span></a>
                        <p class="text-center">

                        </p>

                    {% endfor %}
                </td>

            </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block title %}
    All Groups
{% endblock %}

