{% extends 'base.html.twig' %}
{% block title %}Group{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Group {{ teams[0].tournamentGroup.name }}</h1>
    <h2>teams</h2>
    {% for team in teams %}
    <p>{{ team.name }}</p>
    {% endfor %}

    <div>
        <h2>games</h2>
        {% for game in games %}
           <p>
               {{ game.firstTeam.name }} - {{ game.secondTeam.name }} {{ game.gameDate|date("d/m/Y") }}
           </p>

        {% endfor %}
    </div>



{% endblock %}