{% extends 'base.html.twig' %}
{% block title %}Group{% endblock %}

{% block body %}
    {{ parent() }}



<div>
    <h1 class="bg-success text-center text-success">
        <img src="{{ asset('pictures/Euro2016.png') }}">
        Group {{ teams[0].tournamentGroup.name }}:
    </h1>

    {% for team in teams %}
        <div class="pull-left" style="margin: 40px">
            <h4 class="bg-success text-center text-success">
                <img src="{{ team.country.flag }}">
                {{ team.name }}:
            </h4>
            {% for player in team.players %}
                <p>
                    <a href="{{ path('show_player', {'id': player.id}) }}">{{ player.name }}</a>
                </p>
            {% endfor %}
            <a class="bg-success" href="{{ path('show_team', {'slug': team.slug}) }}">MORE...</a>
        </div>
    {% endfor %}
</div>
<div>
    <table class="table table-bordered text-center-">
        <tr>
            {% for game in games %}
                <td class="text-left">
                    <div>
                        <a href="{{ path('show_game_by_id', {'id': game.id}) }}">Match</a>
                        <p class="text-success bg-success">
                            {{ game.firstTeam.name }} - {{ game.secondTeam.name }}
                        </p>
                        <p class="text-danger">
                            ( {{ game.city }} )
                        </p>
                        <p class="text-info">
                            {{ game.gameDate|date("d-m-Y") }}


                        </p>
                        <p class="text-info">
                            Starts at: {{ game.gameStartsAt }}
                        </p>
                    </div>
                </td>
            {% endfor %}

        </tr>
    </table>
</div>





{% endblock %}

