{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="fixed-width pull-left">
        <h2>{{ player.name }}</h2>

        <div>
            <div class="bg-primary">
                Position:
            </div>
            <p>
                {{ player.position }}
            </p>
        </div>
        <div>
            <div class="bg-primary">
                Squad Number:
            </div>
            <p>
                {{ player.squadNumber }}
            </p>
        </div>
        <div>
            <div class="bg-primary">
                Date of Birth:
            </div>
            <p>
                {{ player.dateOfBirth|date("m/d/Y") }}
            </p>
        </div>
        <div>
            <div class="bg-primary">
                Height:
            </div>
            <p>
                {{ player.height }} cm
            </p>
        </div>
        <div>
            <div class="bg-primary">
                Weight:
            </div>
            <p>
                {{ player.weight }} kg
            </p>
        </div>
    </div>
    <div class="pull-left">
        <p class="bg-primary">
            Player short biography
        </p>
        {{ player.shortBiography }}
    </div>

{% endblock %}