{% extends 'base.html.twig' %}

{% block title %}{{ player.name }}{% endblock %}

{% block body %}
    {{ parent() }}


    <table class="table">
        <tr class="success text-success">
            <th>Player Name</th>
            <th>Player position</th>
            <th>Squad number</th>
            <th>Birth</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Country</th>

        </tr>
        <tr class="alert-info">
            <td>
                {{ player.name }}
            </td>
            <td>
                {{ player.position }}
            </td>
            <td>
                {{ player.squadNumber }}
            </td>
            <td>
                {{ player.dateOfBirth|date("m/d/Y") }}
            </td>
            <td>
                {{ player.height }} cm
            </td>
            <td>
                {{ player.weight }} kg
            </td>
            <td>
                <img class="img-circle" src="{{ player.team.country.flag }}"> <span class="text-success">{{ player.team.country.name }}</span>
            </td>
        </tr>
    </table>
    <div>
        <p>
            <h4 class="text-center text-success">Player Biography:</h4>
            {{ player.shortBiography }}
        </p>
    </div>

{% endblock %}