{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1 class="bg-primary">
        <a href="{{ path('homepage') }}">
            <img src="/pictures/Euro2016.png">
        </a>
        Player information
    </h1>
    <div class="bg-success">
        <h2 class="bg-primary">{{ player.name }}</h2>

        <div class="text-center">
            <div class="fixed-width pull-left bg-primary text-center">
                Position:
            </div>
            <p class="bg-info">
                {{ player.position }}
            </p>
        </div>
        <div class="text-center">
            <div class="fixed-width pull-left bg-primary text-center">
                Squad Number:
            </div>
            <p class="bg-info">
                {{ player.squadNumber }}
            </p>
        </div>
        <div class="text-center">
            <div class="fixed-width pull-left bg-primary text-center">
                Date of Birth:
            </div>
            <p class="bg-info">
                {{ player.dateOfBirth|date("m/d/Y") }}
            </p>
        </div>
        <div class="text-center">
            <div class="fixed-width pull-left bg-primary text-center">
                Height:
            </div>
            <p class="bg-info">
                {{ player.height }} cm
            </p>
        </div>
        <div class="text-center">
            <div class="fixed-width pull-left bg-primary text-center">
                Weight:
            </div>
            <p class="bg-info">
                {{ player.weight }} kg
            </p>
        </div>
    </div>
    <div class="bg-success">
        <h3 class="bg-primary">
            Player short biography
        </h3>
        {{ player.shortBiography }}
    </div>

{% endblock %}