{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1 class="bg-primary"><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a> Player information</h1>
    <div class="bg-info">
        <h2 class="bg-primary">{{ player.name }}</h2>
        <div class="text-center"><div class="fixed-width pull-left bg-primary text-center">Position:</div> {{ player.position }}</div>
        <div class="text-center"><div class="fixed-width pull-left bg-primary text-center">Squad Number:</div> {{ player.squadNumber }}</div>
        <div class="text-center" ><div class="fixed-width pull-left bg-primary text-center">Date of Birth:</div> {{ player.dateOfBirth|date("m/d/Y") }}</div>
        <div class="text-center" ><div class="fixed-width pull-left bg-primary text-center">Height:</div> {{ player.height }} cm</div>
        <div class="text-center"><div class="fixed-width pull-left bg-primary text-center">Weight:</div> {{ player.weight }} kg</div>
    </div>
    <div class="bg-info">
        <h3 class="bg-primary">Player short biography</h3>
        {{ player.shortBiography }}

    </div>

{% endblock %}