<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
</head>
<body>
<h1><img src="/pictures/Euro2016.png"> UEFA EURO 2016 FRANCE</h1>
<table class="table table-bordered" style="background-color: #F1F1F1">
    <tr>
        <th>POT 1</th>
        <th>POT 2</th>
        <th>POT 3</th>
        <th>POT 4</th>
    </tr>
    <tr>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/france.png"></a>
            <a href="{{ path('app_team_show', {'id': '1'}) }}">France</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/italy.png"></a>
            <a href="{{ path('app_team_show', {'id': '2'}) }}"> Italy</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/czech.png"></a>
            <a href="{{ path('app_team_show', {'id': '3'}) }}"> Czech Republic</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/turkey.png"></a>
            <a href="{{ path('app_team_show', {'id': '4'}) }}"> Turkey</a>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/spain.png"></a>
            <a href="{{ path('app_team_show', {'id': '5'}) }}"> Spain</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/russia.png"></a>
            <a href="{{ path('app_team_show', {'id': '6'}) }}"> Russia</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/sweden.png"></a>
            <a href="{{ path('app_team_show', {'id': '7'}) }}"> Sweden</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/ireland.png"></a>
            <a href="{{ path('app_team_show', {'id': '8'}) }}"> Republic of Ireland</a>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/germany.png"></a>
            <a href="{{ path('app_team_show', {'id': '9'}) }}"> Germany</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/switzerland.png"></a>
            <a href="{{ path('app_team_show', {'id': '10'}) }}"> Switzerland</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/poland.png"></a>
            <a href="{{ path('app_team_show', {'id': '11'}) }}"> Poland</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/iceland.png"></a>
            <a href="{{ path('app_team_show', {'id': '12'}) }}"> Iceland</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/england.png"></a>
            <a href="{{ path('app_team_show', {'id': '13'}) }}"> England</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/austria.png"></a>
            <a href="{{ path('app_team_show', {'id': '14'}) }}"> Austria</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/romania.png"></a>
            <a href="{{ path('app_team_show', {'id': '15'}) }}"> Romania</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/wales.png"></a>
            <a href="{{ path('app_team_show', {'id': '16'}) }}"> Wales</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/portugal.png"></a>
            <a href="{{ path('app_team_show', {'id': '17'}) }}"> Portugal</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/croatia.png"></a>
            <a href="{{ path('app_team_show', {'id': '18'}) }}"> Croatia</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/slovakia.png"></a>
            <a href="{{ path('app_team_show', {'id': '19'}) }}"> Slovakia</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/albania.png"></a>
            <a href="{{ path('app_team_show', {'id': '20'}) }}"> Albania</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/belgium.png"></a>
            <a href="{{ path('app_team_show', {'id': '21'}) }}"> Belgium</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/ukraine.png"></a>
            <a href="{{ path('app_team_show', {'id': '22'}) }}"> Ukraine</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/hungary.png"></a>
            <a href="{{ path('app_team_show', {'id': '23'}) }}"> Hungary</a>
        </td>
        <td>
            <a href="{{ path('app_country_index') }}"><img src="/pictures/northern_ireland.png"></a>
            <a href="{{ path('app_team_show', {'id': '24'}) }}"> Northern Ireland</a>
        </td>
    </tr>

</table>
</body>
</html>