{% extends 'base.html.twig' %}

{% block title %}Euro 2016{% endblock %}

{% block body %}
    {{ parent() }}



    <table class="table">
        <tr class="alert-info">
            <th> <a href="{{ path('show_group', {'name': 'A'}) }}">Group A</a></th>
            <th> <a href="{{ path('show_group', {'name': 'B'}) }}">Group B</a></th>
            <th> <a href="{{ path('show_group', {'name': 'C'}) }}">Group C</a></th>
            <th> <a href="{{ path('show_group', {'name': 'D'}) }}">Group D</a></th>
            <th> <a href="{{ path('show_group', {'name': 'E'}) }}">Group E</a></th>
            <th> <a href="{{ path('show_group', {'name': 'F'}) }}">Group F</a></th>

        </tr>
        <tr>
            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'A' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'B' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'C' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'D' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'E' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'F' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="bg-info"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>

    <h2 class="bg-success text-success">UEFA ranks:</h2>
    <table class="table table-striped table-hover table-bordered table-condensed">
        <tr>
            <th class="bg-info">Country</th>
            <th class="bg-info">Rank</th>
        </tr>

        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>{{ country.uefaRank }}</td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}