{% extends 'base.html.twig' %}

{% block title %}Euro 2016{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="text-center text-danger">Euro 2016 France
        <img src="{{ asset('pictures/Euro2016.png') }}">
    </h1>

    <table class="table">
        <tr class="success">
            <th> <a href="{{ path('show_group', {'name': 'A'}) }}">Group A</a></th>
            <th> <a href="{{ path('show_group', {'name': 'B'}) }}">Group B</a></th>
            <th> <a href="{{ path('show_group', {'name': 'C'}) }}">Group C</a></th>
            <th> <a href="{{ path('show_group', {'name': 'D'}) }}">Group D</a></th>
            <th> <a href="{{ path('show_group', {'name': 'E'}) }}">Group E</a></th>
            <th> <a href="{{ path('show_group', {'name': 'F'}) }}">Group F</a></th>

        </tr>
        <tr>
            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'A' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br><br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'B' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br><br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'C' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br><br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'D' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br><br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'E' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br><br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'F' %}
                        <p>
                            <a href="{{ path('show_country', {'slug': country.slug}) }}">
                                <img class="img-circle" src="{{ country.flag }}">
                            </a>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                            <br><br>
                        </p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>


{% endblock %}