{% extends 'base.html.twig' %}

{% block title %}Euro 2016{% endblock %}

{% block body %}
<h1 class="bg-primary"><img src="{{ asset('pictures/Euro2016.png') }}"> UEFA EURO 2016</h1>
    <table class="table table-bordered table-hover">
    <tr>
        <th>POT 1</th>
        {% for item in data.potOne %}
           <td>
               <a href="{{ path('show_country', {'country': item}) }}">
                   <img src="{{ ['/pictures/', item, '.png']|join }}">
               </a>
               <a href="{{ path('show_team', {'team': item}) }}">
                   {{ item|replace({'_': ' '})|title }}
               </a>
           </td>
        {% endfor %}
    </tr>
    <tr>
        <th>POT 2</th>
        {% for item in data.potTwo %}
            <td>
                <a href="{{ path('show_country', {'country': item}) }}">
                    <img src="{{ ['/pictures/', item, '.png']|join }}">
                </a>
                <a href="{{ path('show_team', {'team': item}) }}">
                    {{ item|replace({'_': ' '})|title }}
                </a>
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>POT 3</th>
        {% for item in data.potThree %}
            <td>
                <a href="{{ path('show_country', {'country': item}) }}">
                    <img src="{{ ['/pictures/', item, '.png']|join }}">
                </a>
                <a href="{{ path('show_team', {'team': item}) }}">
                    {{ item|replace({'_': ' '})|title }}
                </a>
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>POT 4</th>
        {% for item in data.potFour %}
            <td>
                <a href="{{ path('show_country', {'country': item}) }}">
                    <img src="{{ ['/pictures/', item, '.png']|join }}">
                </a>
                <a href="{{ path('show_team', {'team': item}) }}">
                    {{ item|replace({'_': ' '})|title }}
                </a>
            </td>
        {% endfor %}
    </tr>
    </table>

{% endblock %}