{% extends 'base.html.twig' %}

{% block title %}Euro 2016{% endblock %}

{% block body %}
    {{ parent() }}
    <table class="table table-bordered table-hover">
    <tr>
        <th>POT 1</th>
        {% for item in pot_one %}
           <td>
               <a href="{{ path('show_country', {'slug': item.slug}) }}">
                   <img src="{{ item.flag }}">
               </a>
               <a href="{{ path('show_team', {'slug': item.team.slug }) }}">
                   {{ item.name }}
               </a>
           </td>
        {% endfor %}
    </tr>
    <tr>
        <th>POT 2</th>
        {% for item in pot_two %}
            <td>
                <a href="{{ path('show_country', {'slug': item.slug}) }}">
                    <img src="{{ item.flag }}">
                </a>
                <a href="{{ path('show_team', {'slug': item.team.slug}) }}">
                    {{ item.name }}
                </a>
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>POT 3</th>
        {% for item in pot_three %}
            <td>
                <a href="{{ path('show_country', {'slug': item.slug}) }}">
                    <img src="{{ item.flag }}">
                </a>
                <a href="{{ path('show_team', {'slug': item.team.slug}) }}">
                    {{ item.name }}
                </a>
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>POT 4</th>
        {% for item in pot_four %}
            <td>
                <a href="{{ path('show_country', {'slug': item.slug}) }}">
                    <img src="{{ item.flag }}">
                </a>
                <a href="{{ path('show_team', {'slug': item.team.slug}) }}">
                    {{ item.name }}
                </a>
            </td>
        {% endfor %}
    </tr>
    </table>

    <div id="groups">
        <div id="group-a" class="pull-left">
            <h4>
                <a href="{{ path('show_group', {'name': 'A'}) }}">Group A</a>
            </h4>

            {% for country in countries %}
                {% if country.team.tournamentGroup.name == 'A' %}
                <p>
                    <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                        {{ country.team.name }}
                    </a>
                </p>
                {% endif %}
            {% endfor %}

        </div>
        <div id="group-b" class="pull-left">
            <h4>
                <a href="{{ path('show_group', {'name': 'B'}) }}">Group B</a>
            </h4>
            {% for country in countries %}
                {% if country.team.tournamentGroup.name == 'B' %}
                    <p>
                        <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                            {{ country.team.name }}
                        </a>
                    </p>
                {% endif %}
            {% endfor %}

        </div>

        <div id="group-c" class="pull-left">
            <h4>
                <a href="{{ path('show_group', {'name': 'C'}) }}">Group C</a>
            </h4>
            {% for country in countries %}
                {% if country.team.tournamentGroup.name == 'C' %}
                    <p>
                        <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                            {{ country.team.name }}
                        </a>
                    </p>
                {% endif %}
            {% endfor %}
        </div>

            <div id="group-d" class="pull-left">
                <h4>
                    <a href="{{ path('show_group', {'name': 'D'}) }}">Group D</a>
                </h4>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'D' %}
                        <p>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                        </p>
                    {% endif %}
                {% endfor %}

            </div>

            <div id="group-e" class="pull-left">
                <h4>
                    <a href="{{ path('show_group', {'name': 'E'}) }}">Group E</a>
                </h4>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'E' %}
                        <p>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                        </p>
                    {% endif %}
                {% endfor %}

            </div>

            <div id="group-f" class="pull-left">
                <h4>
                    <a href="{{ path('show_group', {'name': 'F'}) }}">Group F</a>
                </h4>
                {% for country in countries %}
                    {% if country.team.tournamentGroup.name == 'F' %}
                        <p>
                            <a href="{{ path('show_team', {'slug': country.team.slug}) }}">
                                {{ country.team.name }}
                            </a>
                        </p>
                    {% endif %}
                {% endfor %}

            </div>



    </div>


{% endblock %}