{% extends 'base.html.twig' %}

{% block title %}
    Coach
{% endblock title %}

{% block body %}
    {{ parent() }}

    <table class="table">
        <tr class="success text-success">
            <th>
                Coach Name
            </th>
            <th>
                Nationality
            </th>
            <th>Date of Birth</th>
            <th>
                Team
            </th>
        </tr>
        <tr class="alert-info">
            <td>
                {{ coach.name }}
            </td>
            <td>
                {{ coach.nationality }}
            </td>
            <td>
                {{ coach.dateOfBirth|date('d-m-Y') }}
            </td>
            <td>
                <img class="img-circle" src="{{ coach.team.country.flag }}"> {{ coach.team.name }}
            </td>
        </tr>
    </table>
    <div>
        <h4 class="text-center text-success">Coach Biography</h4>
        <p>
            {{ coach.shortBiography }}
        </p>
    </div>

{% endblock body %}