{% extends 'base.html.twig' %}

{% block title %}
    Coach
{% endblock title %}

{% block body %}
    {{ parent() }}
    <div class="fixed-width pull-left">
        <h2>Name: {{ coach.name }}</h2>

        <div>
            <div class="bg-success text-success">
                Nationality:
            </div>
            <p>
                {{ coach.nationality }}
            </p>
        </div>

        <div>
            <div class="bg-success text-success">
                Date of birth:
            </div>
            <p>
                {{ coach.dateOfBirth|date('d-m-Y') }}
            </p>
        </div>

        <div>
            <div class="bg-success text-success">
                Team:
            </div>
            <p>
                {{ coach.team.name }}
            </p>
        </div>
    </div>

{% endblock body %}